.cmp__text {
  color: #23272e;
  white-space: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
  position: relative;
  background-color: transparent;
}
.cmp__text-container {
  position: relative;
  z-index: 1;
}
.cmp__text-container a {
  text-decoration: underline;
  color: #37a6d9;
}
.cmp__text-container .is-relative {
  position: relative;
}
.cmp__text-container .is-relative .cmp__text__info {
  position: absolute;
  text-decoration: none;
  color: #0c3677;
  margin-left: 12px;
  padding-left: 24px;
}
@media (max-width: 768px) {
  .cmp__text-container .is-relative .cmp__text__info {
    position: relative;
    margin-left: 0;
    display: block;
    margin-top: 12px;
  }
}
.cmp__text-container .is-relative .cmp__text__info::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: var(--text-icon);
  background-size: contain;
  background-repeat: no-repeat;
}
.cmp__text__banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.cmp__text__banner img {
  width: 100%;
  height: 100%;
}
