body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero-banner {
  width: 100%;
  position: relative;
}
.hero-banner__container {
  width: 100%;
  position: relative;
}
.hero-banner__container.single-banner div.banner__content__wrapper {
  top: 50%;
}
.hero-banner__container.single-banner .swiper-actions {
  height: 100%;
}
.hero-banner__slide {
  position: relative;
  box-sizing: border-box;
  height: 498px;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .hero-banner__slide {
    height: 374px;
  }
}
@media (max-width: 768px) {
  .hero-banner__slide {
    height: 416px;
  }
}
.hero-banner__slide.swiper-slide-active .banner__images img {
  transform: scale(1.1);
}
.hero-banner__slide .banner__images {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero-banner__slide .banner__images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
  transform: scale(1);
  transition: transform 10s ease-out;
}
.hero-banner__slide .banner__images .mb-banner {
  display: none;
}
.hero-banner__slide .banner__content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.hero-banner__slide .banner__content__wrapper {
  position: absolute;
  transform: translateY(-50%);
  top: calc(50% - 64px);
  z-index: 2;
  max-width: 50%;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .hero-banner__slide .banner__content__wrapper {
    transform: translateY(-50%);
    top: calc(50% - 18px);
    width: calc(100% - 18.4%);
    max-width: none;
  }
}
@media (max-width: 768px) {
  .hero-banner__slide .banner__content__wrapper {
    padding: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    top: calc(50% - 18px);
    width: calc(100% - 32px);
    max-width: none;
    display: flex;
    flex-direction: column;
  }
}
.hero-banner__slide .banner__title {
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.hero-banner__slide .banner__subtitle {
  color: #FFFFFF;
  margin-top: 24px;
  overflow: hidden;
  font-weight: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.hero-banner__slide .banner__btn {
  display: inline-block;
  margin-top: 56px;
  padding: 12px 24px;
  background-color: #37a6d9;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 8px;
}
.hero-banner__slide .banner__btn:hover {
  background-color: #FFFFFF;
  color: #37a6d9;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .hero-banner__slide .banner__btn {
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .hero-banner__slide .banner__btn {
    margin-top: 62px;
    padding: 10px 40px;
    text-align: center;
  }
}
.hero-banner__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--linear-gradient);
  z-index: 1;
}
.hero-banner .thumb-swiper {
  background: rgba(65, 65, 65, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: none;
  box-sizing: border-box;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .hero-banner .thumb-swiper {
    display: none;
  }
}
@media (max-width: 768px) {
  .hero-banner .thumb-swiper {
    display: none;
  }
}
.hero-banner .thumb-swiper__wrapper {
  box-sizing: border-box;
}
.hero-banner .thumb-swiper.thumb-swiper-enabled {
  display: block;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .hero-banner .thumb-swiper.thumb-swiper-enabled {
    display: none;
  }
}
@media (max-width: 768px) {
  .hero-banner .thumb-swiper.thumb-swiper-enabled {
    display: none;
  }
}
.hero-banner__thumbs {
  padding: 20px 0;
}
.hero-banner__thumbs--loop .swiper-slide-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 16px;
  background-color: #37a6d9;
  position: absolute;
  left: 0;
  bottom: 0;
}
.hero-banner__thumbs--loop .swiper-slide-active .thumb__content {
  color: #FFFFFF;
}
.hero-banner__thumb {
  cursor: pointer;
  height: auto;
}
.hero-banner__thumb .thumb__content {
  color: #666B72;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-bottom: 16px;
}
.hero-banner__thumb .thumb__content:hover {
  color: #FFFFFF;
}
.hero-banner__thumb.hero-banner__thumb--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 16px;
  background-color: #37a6d9;
  position: absolute;
  left: 0;
  bottom: 0;
}
.hero-banner__thumb.hero-banner__thumb--active .thumb__content {
  color: #FFFFFF;
}
.hero-banner .swiper-actions {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hero-banner .swiper-actions__wrapper {
  height: calc(100% - 128px);
  box-sizing: border-box;
  position: relative;
  width: 100%;
}
@media (max-width: 1024px) {
  .hero-banner .swiper-actions__wrapper {
    height: 100%;
  }
}
.hero-banner .swiper-pagination-bullets {
  left: 0;
  bottom: 16px;
  width: 100%;
  display: none;
}
@media (max-width: 1024px) {
  .hero-banner .swiper-pagination-bullets {
    display: block;
  }
}
.hero-banner .swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #c8e5f2;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  border-radius: 50%;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.hero-banner .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #37a6d9;
  width: 40px;
  height: 8px;
  border-radius: 8px;
}
.hero-banner .swiper-button-prev,
.hero-banner .swiper-button-next {
  color: #FFFFFF;
  font-size: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  opacity: 1;
}
@media (max-width: 1024px) {
  .hero-banner .swiper-button-prev,
  .hero-banner .swiper-button-next {
    display: none;
  }
}
.hero-banner .swiper-button-prev:hover,
.hero-banner .swiper-button-next:hover {
  background-color: #3C74C9;
}
.hero-banner .swiper-button-prev:after,
.hero-banner .swiper-button-next:after {
  font-size: 12px;
}
.hero-banner .swiper-button-prev {
  left: 16px;
  right: auto;
}
.hero-banner .swiper-button-next {
  right: 16px;
  left: auto;
}
